# Project wide .gitignore settings

#.metadata
.metadata/*

#RemoteSystemsTempFiles
RemoteSystemsTempFiles/*

#Demo
Demo/bin/*
Demo/target/*
Demo/war/WEB-INF/appengine-generated/*
Demo/war/WEB-INF/classes/*

#eshoppingmate
eshoppingmate/bin/*
eshoppingmate/target/*
eshoppingmate/war/WEB-INF/appengine-generated/*
eshoppingmate/war/WEB-INF/classes/*

#goldpricechart
goldpricechart/bin/*
goldpricechart/target/*
goldpricechart/war/WEB-INF/appengine-generated/*
goldpricechart/war/WEB-INF/classes/*

#LocalTest
LocalTest/*


#NetShoppingMate
NetShoppingMate/bin/*
NetShoppingMate/target/*

#MetalPriceInfoFetcher
MetalPriceInfoFetcher/bin/*
MetalPriceInfoFetcher/target/*