<?xml version="1.0" encoding="utf-8"?>
<web-app xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance"
xmlns="http://java.sun.com/xml/ns/javaee"
xmlns:web="http://java.sun.com/xml/ns/javaee/web-app_2_5.xsd"
xsi:schemaLocation="http://java.sun.com/xml/ns/javaee
http://java.sun.com/xml/ns/javaee/web-app_2_5.xsd" version="2.5">
	<servlet>
		<servlet-name>Demo</servlet-name>
		<servlet-class>com.hehaho.googleapp.demo.servlet.DemoServlet</servlet-class>
	</servlet>
	<servlet>
		<servlet-name>PrintTask</servlet-name>
		<servlet-class>com.hehaho.googleapp.demo.servlet.ScheduledTaskTest</servlet-class>
	</servlet>
	<servlet>
		<servlet-name>FetchServlet</servlet-name>
		<servlet-class>com.hehaho.googleapp.demo.servlet.FetchServlet</servlet-class>
	</servlet>
	<servlet>
		<servlet-name>JDOServlet</servlet-name>
		<servlet-class>com.hehaho.googleapp.demo.servlet.JDOTestServlet</servlet-class>
	</servlet>
	<servlet>
		<servlet-name>GetImageServlet</servlet-name>
		<servlet-class>com.hehaho.googleapp.demo.servlet.GetImageServlet</servlet-class>
	</servlet>
	<servlet>
		<servlet-name>FetchImageServlet</servlet-name>
		<servlet-class>com.hehaho.googleapp.demo.servlet.FetchImageServlet</servlet-class>
	</servlet>
	<servlet>
		<servlet-name>TimeZoneServlet</servlet-name>
		<servlet-class>com.hehaho.googleapp.demo.servlet.TimeZoneServlet</servlet-class>
	</servlet>
	<servlet>
		<servlet-name>HTMLMailServlet</servlet-name>
		<servlet-class>com.hehaho.googleapp.demo.servlet.SendHTMLMailServlet</servlet-class>
	</servlet>
	<servlet>
		<servlet-name>HardwareMailServlet</servlet-name>
		<servlet-class>com.hehaho.googleapp.demo.servlet.SendHardwareHTMLMailServlet</servlet-class>
	</servlet>
	<servlet-mapping>
		<servlet-name>Demo</servlet-name>
		<url-pattern>/demo</url-pattern>
	</servlet-mapping>
	<servlet-mapping>
		<servlet-name>PrintTask</servlet-name>
		<url-pattern>/print</url-pattern>
	</servlet-mapping>
	<servlet-mapping>
		<servlet-name>FetchServlet</servlet-name>
		<url-pattern>/fetch</url-pattern>
	</servlet-mapping>
	<servlet-mapping>
		<servlet-name>JDOServlet</servlet-name>
		<url-pattern>/jdoservice</url-pattern>
	</servlet-mapping>
	<servlet-mapping>
		<servlet-name>GetImageServlet</servlet-name>
		<url-pattern>/getimage</url-pattern>
	</servlet-mapping>
	<servlet-mapping>
		<servlet-name>FetchImageServlet</servlet-name>
		<url-pattern>/fetchimage</url-pattern>
	</servlet-mapping>
	<servlet-mapping>
		<servlet-name>TimeZoneServlet</servlet-name>
		<url-pattern>/timezone</url-pattern>
	</servlet-mapping>
	<servlet-mapping>
		<servlet-name>HTMLMailServlet</servlet-name>
		<url-pattern>/htmlmail</url-pattern>
	</servlet-mapping>
	<servlet-mapping>
		<servlet-name>HardwareMailServlet</servlet-name>
		<url-pattern>/hardwaremail</url-pattern>
	</servlet-mapping>
	<welcome-file-list>
		<welcome-file>index.jsp</welcome-file>
	</welcome-file-list>
</web-app>
